# querierd - multicast querier for networks without a multicast router 

[Unit]
Description=Multicast querier daemon
After=syslog.target network.target

[Service]
ExecStart=/usr/bin/python -m querier.service
Restart=always

[Install]
WantedBy=multi-user.target